#sub {
    box-sizing: border-box;
    top: 72px;
    height: 100%;
    width: 220px;
    position: fixed;
    overflow: auto;
    background: #eee;
    padding: 20px;
    padding-top: 0px;
}

input[type="checkbox"]{
    display: none;
    
}
input[type="checkbox"] + label{
    display: block;
    margin: 2%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}


input[type="checkbox"]:checked + label{
    outline-offset:2px;
    outline: 2px solid darkcyan;
    
}

@media (max-width: 767px){
	#sub{
        background: none;
    }

	
}

 