body {
    padding-top: 72px;
}

a{
    text-decoration: none;
    color:black;
}

.ratio-1x1 img{
    object-fit:cover;
}

.category{
    max-width:1000px; 
    margin-left:auto; 
    margin-right:auto;
}

.frame{
    background-color:#EEEEEE;
    
}

.image-test{
        width: 100%;
        height: 200px;
        object-fit: cover;
    
}
